@model User

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1 class="text-success text-center">Craete New User</h1>

<form asp-controller="User" asp-action="Create" method="post">
    <table class="table table-bordered table-striped table-hover">
        <tbody>
            <tr>
                <th>FirstName</th>
                <td><input asp-for="FirstName" type="text" class="form-control" /></td>
            </tr>

            <tr>
                <th>LastName</th>
                <td><input asp-for="LastName" type="text" class="form-control" /></td>
            </tr>

            <tr>
                <th>Date Of Birth</th>
                <td><input asp-for="DateOfBirth" type="date" class="form-control" /></td>
            </tr>

            <tr>
                <th>Pan</th>
                <td><input asp-for="Pan" type="text" class="form-control" /></td>
            </tr>

            <tr>
                <th>Address</th>
                <td><textarea asp-for="Address" class="form-control"></textarea></td>
            </tr>

            <tr>
                <th>Gender</th>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                        <input type="radio" asp-for="Gender" class="form-check" value="M">&nbsp;
                        <label asp-for="Gender">Male</label>&nbsp;
                        <input type="radio" asp-for="Gender" class="form-check" value="F">&nbsp;
                        <label asp-for="Gender">Female</label>&nbsp;
                        <input type="radio" asp-for="Gender" class="form-check" value="O">&nbsp;
                        <label asp-for="Gender">Others</label>
                    </div>
                </td>
            </tr>

            <tr>
                <th>Mobile</th>
                <td><input asp-for="MobileNumber" type="text" class="form-control" /></td>
            </tr>

            <tr>
                <th>Email</th>
                <td><input asp-for="Email" type="email" class="form-control" /></td>
            </tr>

            <tr>
                <th>Comments</th>
                <td><textarea asp-for="Comments" class="form-control"></textarea></td>
            </tr>

            <tr>
                <th>Department Id</th>
                <td><input asp-for="DepartmentRefId" type="number" class="form-control" /></td>
            </tr>
        </tbody>
    </table>


    <div class="text-center">
        <button type="submit" class="btn btn-outline-primary btn-lg">Create User</button>
        <a asp-controller="User" asp-action="Index" class="btn btn-outline-primary btn-lg">Back To Listing</a>
    </div>
</form>